body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  background: linear-gradient(to right, #171717, #171717);
  color: white;
  text-align: center;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin-top: 5px;
  font-size: 1.2em;
}


section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2 {
  background: #222;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin-top: 0;
}

section img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin: 15px 0;
}


/* Rodapé */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
